
/*For all web pages: 

/*Style for body (b) of web pages*/
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


/*Home page paragraphs*/
.para1 {
    text-align: center;
    font-size:x-large;
    color: #9e89b8;
}


head {
    color: #520ca7;
    background: none;
}

/*Buttons at navigation bar*/
.hButtons {
  cursor: pointer;
  margin: 5px;
  background-color: black;
  border-radius:10px;
  color:white;
  border: 2px solid #9272e8;
  padding: 10px 32px;
  transition: 0.24s all ease;
  position: relative;
  display:inline-block;

}


.hButtons:hover {
    margin: 7px;
    border: 2px solid #520ca7;
}

.chosenButton {
  margin: 5px;
  background-color: #9272e8;
  border-radius:10px;
  border: 2px solid #9272e8;
  padding: 10px 32px;
  transition: 0.24s all ease;
  position: relative;
  display:inline-block;


}

/*Button for department (phone brand)*/
.dButton {
  margin: 5px;
  background-color: #520ca7;
  color:white;
  border-radius:10px;
  border: 2px solid #9272e8;
  padding: 10px 32px;
  transition: 0.24s all ease;
  position: relative;
  display:inline-block;
  
}

.dButton:hover {
  margin: 7px;
  border: 2px solid #520ca7;
  background-color: #9272e8;
  color:black;
}

#logodiv {
    object-fit: contain;
}

#lang {
    background-color: black;
    color: grey;
}

.form1 {
    text-align: right;
    color: white;
}

.navbar1 {
    text-align: center;
}



  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #520ca7;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #9272e8;
    color: black;
  }

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  
/*--------------------------------------------------------------------------------------------------------------------  


/*Home Page CSS */

/*Image fade effect used in home page*/
/*Source code found at: https://webdesign.tutsplus.com/tutorials/simple-fade-effect-on-scroll--cms-35166 */

/*Image is wrapped into a grid format to allow for easy adjustments in height, size and positioning*/
.img-wrapper {
  display: grid;
  height: 100vh;
}

/*Position of image in grid and transition of image*/
.img-wrapper div {
  grid-column: 1;
  grid-row: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray);
  transition: opacity 0.2s;
}


/*----------------------------------------------------------------------------------------------------------------

/* Shop Page CSS

CSS code taken from: https://www.w3schools.com/howto/howto_js_slideshow.asp with minor adjustments

/* Slideshow container */
.slideshow-container {
    max-width: 2000px;
    margin: auto;
    position:relative;
    width: 250%;
    margin-left: auto;
    margin-right: auto;    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
   
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /*Position of "prev arrow" to left*/
  .prev {
    left:30%;
    top: 60%;
  }
  /* Position the "next arrow" to the right */
  .next {
    right:30%;
    border-radius: 3px 0 0 3px;
    top: 60%;
  }
  
  /* On hover, the colour of next/prev arrow changes to purple*/
  .prev:hover, .next:hover {
    color:#520ca7;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-size: larger;
    text-align: center;
    }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;  
    opacity: .2;
  }
  
  /*When you hover over dots it should change colour*/
  .active, .dot:hover {
    background-color: #535353;
    opacity: 1;
  }
  
  /* Fading animation */
  .fade {
    animation-name:fade;
    animation-duration: 3s;
    animation-fill-mode: forwards; /*After fade animation, image tends to disappear so fill mode property used to prevent thus*/
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  /*Product purchase CSS*/
  
  .productImage {
    display:block;
    max-width: 2000px;
    width:400px;
    float:left;
    margin-left: 20%;
    margin-bottom: 50px;
  }

  #productText {
    display:block;
    color:white;
    font-size: large;
  }

  /*Choose different colours for iphone*/

  #coral {
    background-color: coral;
  }


  #red {
    background-color: red;
  }

  #yellow {
    background-color: yellow;
  }

  #black {
    background-color: black;
    color:white;
  }

  #white {
    background-color: white;
  }

  #blue {
    background-color: skyblue;
  }



 





